.killads section[role=main] > h2 { margin-bottom: 20px; }
.killads #aboutDiv .win-header { background-color:#375369; }
.killads .win-content { padding:20px;}
.killads .win-content {  }
.killads .win-listview { height: 100%; }
.killads .win-listview .win-template { 
    background-color:#6294ad;
}
.killads .win-item > div {
    display: -ms-grid;
    -ms-grid-columns: 90px 1fr;
    padding:5px;
    margin:5px;
}
    .killads .win-item > div .profileText {
        -ms-grid-column:2;
    }
        .killads .win-item > div .profileText h3 {
            font-weight:bold;
        }
        .killads .win-item > div .profileText p#bio {
            margin-top:0px;
            font-style: italic;
            line-height:110%;
        }
        .killads .win-item > div .profileText p#website {
            margin-top:0px;
            font-style: italic;
            line-height:110%;
        }
.killads #projectDescription img {
    height:40px;
}
