.boxprops .marginbox .flex {
    display:-ms-flexbox;
    -ms-flex-wrap:wrap;
}
.boxprops .marginbox .flex > div {
    height:100px;
    width:100px;
    border:1px solid gray;
    margin:5px;
}

.boxprops .borderbox div[class^=l] { padding: 10px; }
.boxprops .borderbox .l1 { border: 4px solid black; }
.boxprops .borderbox .l2 { border: 10px groove gray; }
.boxprops .borderbox .l3 { border: 5px solid red; }
.boxprops .borderbox .l4 { border: 4px double black; }
.boxprops .borderbox .l5 { border: 4px dashed black; }
.boxprops .borderbox .l6 { border: 12px dotted black; }

.boxprops .paddingbox > div {
    border: solid 1px;
    width:500px;
    height:300px;
    padding:60px;
}

.boxprops .overflowbox .flex {
    display: -ms-flexbox;
}

.boxprops .overflowbox .flex > div {
    width:300px;
    height:250px;
    padding:10px;
    margin:0px 10px;
    border:1px solid gray;
}

.boxprops .overflowbox #hidden {
    overflow-y: hidden;
}

.boxprops .overflowbox #scroll {
    overflow-y: scroll;
}