.about #aboutDiv .win-header {
    background-color:#375369;
}

.about .title {
    font-family: "gooddog";
    font-size: 58px;
}
    .about .title .titleCode { color: #34435a; }
    .about .title .titleShow { color: #5e83a2; }

.about .win-content { padding: 0 20px 0; }
.about .win-content p { margin-top: 0; }
