.datejs .section {
    margin-top: 40px;
}

.datejs input {
    width: 300px;
}

.datejs #examples div {
    column-gap: 50px;
    columns: auto 400px;
}

    .datejs #examples div table tr td:nth-child(1){
        
        font-style: italic;
    }