.mediacap section[role=main] > div {
    margin-left: 120px;
}

.mediacap .item {
    display: -ms-grid;
    -ms-grid-columns: 300px 30px 340px;
}

    .mediacap .item :nth-child(1) {
        
    }

    .mediacap .item :nth-child(2) {
        width: 320px;
        height: 180px;
        -ms-grid-column: 3;
    }

    .recording { border: 2px solid red;}
