.templateItems2 section[role=main] > * {
    margin-left: 120px;
}

.templateItems2 section[role=main] > div {
    display: -ms-flexbox;
    border: 1px solid white;
    -ms-flex-wrap: wrap;
}

.templateItems2 section[role=main] > div > div.before {
    width:110px;
    height:110px;
    background: black;
    margin:10px;
    padding: 10px;
    -ms-transition: all 1s;
    opacity: 0.5;
}

.templateItems2 section[role=main] > div > div.after {
    background: gray;
    opacity: 1.0;
}
