.sectionpage section[role=main] {
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
}

.sectionpage .itemslist {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 0;
}

	/* This selector is used to prevent ui-dark/light.css from overwriting changes
       to .win-surface. */
	.sectionpage .itemslist .win-horizontal.win-viewport .win-surface {
		margin-bottom: 35px;
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 128px;
	}

	.sectionpage .itemslist .win-groupheader {
		-ms-grid-columns: 1fr;
		-ms-grid-rows: auto auto 1fr;
		display: -ms-grid;
		height: 100%;
		margin-left: 0;
		margin-right: 40px;
		padding: 0;
		width: 480px;
	}

		.sectionpage .itemslist .win-groupheader:-ms-lang(ar, dv, fa, he, ku-Arab, pa-Arab, prs, ps, sd-Arab, syr, ug, ur, qps-plocm) {
			margin-left: 40px;
			margin-right: 0;
		}

		.sectionpage .itemslist .win-groupheader .group-subtitle {
			-ms-grid-row: 1;
			margin-bottom: 14px;
			margin-top: 6px;
			max-height: 48pt;
			overflow: hidden;
		}

		.sectionpage .itemslist .win-groupheader .group-image {
			-ms-grid-row: 2;
			background-color: rgba(147, 149, 152, 1);
			height: 240px;
			margin: 0;
			margin-bottom: 20px;
			width: 480px;
		}

		.sectionpage .itemslist .win-groupheader .group-description {
			-ms-grid-row: 3;
			margin-bottom: 55px;
			overflow: hidden;
		}

	.sectionpage .itemslist .win-container {
		margin-bottom: 11px;
		margin-left: 33px;
		margin-right: 33px;
		margin-top: 5px;
	}

	.sectionpage .itemslist .item {
		-ms-grid-columns: 110px 10px 1fr;
		-ms-grid-rows: 1fr;
		display: -ms-grid;
		height: 110px;
		padding: 7px;
		width: 480px;
	}

		.sectionpage .itemslist .item .item-info {
			-ms-grid-column: 3;
		}

			.sectionpage .itemslist .item .item-info .item-title {
				margin-top: 4px;
				max-height: 20px;
				overflow: hidden;
			}

			.sectionpage .itemslist .item .item-info .item-description {
				max-height: 60px;
				overflow: hidden;
			}
