.errors #grid {
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: start;
    -ms-flex-direction: row;
    width: 100%;
    color: #fff;
}

    .errors #grid > div {
        -ms-flex: 0 0 auto;
        text-align: center;
        font-size: 36px;
        width: 300px;
        height: 200px;
        padding: 15px;
        
    }
        .errors #grid > div > div {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            min-width: 295px;
            min-height: 195px;
            background-color: #121111;
            border: solid 2px blue;
            transition: all 0.25s;
        }
            .errors #grid > div > div:hover {
                box-shadow: 0 0 5px 5px #00f;
                background-color: #121212;
            }

.errors #output {
    position: absolute;
    top: 90%;
    color: #f8dd3b;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0 0 5px 5px #040;
}

.errors #output.error {
    text-shadow: 0 0 5px 5px #f00;
} 