/* flexboxSimple */
.flexbox #flexboxSimple {
    display: -ms-flexbox;
    width: 100%;
    border: 1px solid gray;
}

.flexbox #flexboxSimple > div { min-width: 80px; min-height: 80px; border: 1px solid black; margin: 5px;}

/* flexboxDistribute */
.flexbox #flexboxDistribute {
    display: -ms-flexbox;
    width: 100%;
    -ms-flex-pack: distribute;
    border: 1px solid gray;
}

.flexbox #flexboxDistribute > div { min-width: 80px; min-height: 80px; border:1px solid black; margin: 5px;}

/* flexxingFlexbox */
.flexbox #flexxingFlexbox {
    display: -ms-flexbox;
    border: 1px solid gray;
}

.flexbox #flexxingFlexbox > div { min-width: 80px; min-height: 80px; border: 1px solid black; margin: 5px;}
.flexbox #flexxingFlexbox > div:nth-child(1) { -ms-flex: 1 0 auto;}
.flexbox #flexxingFlexbox > div:nth-child(2) { -ms-flex: 2 0 auto; }

/* wrappingFlexbox */
.flexbox #wrappingFlexbox {
    display: -ms-flexbox;
    -ms-flex-wrap:wrap;
    width: 100%;
    border: 1px solid gray;
}

.flexbox #wrappingFlexbox > div {
    min-width: 140px;
    min-height: 140px;
    border: solid 1px black;
    margin:5px;
}

/* Vertical */
.flexbox #verticalFlexbox {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-align: start;
    width: 100%;
    border: 1px solid gray;
}

.flexbox #verticalFlexbox > div {
    width: 80px;
    height: 80px;
    border: solid 1px black;
    margin:5px;
}

/* Swipeable sections */
.flexbox #swipeparent {
    width:100%;
    display: -ms-flexbox;
    -ms-scroll-snap-x: mandatory snapInterval(0%, 80%);
    overflow-x: auto;
    height:400px;
    border:1px solid lightgray;
}

#swipeparent > * {
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    padding: 20px;
    padding-right: 60px;
    overflow-y: auto;
}

