$ cat .gitignore
archive/
Debug/
Release/
bin/
bld/
obj/
ipch/
x64/
ARM/
*.vspx
*.psess
*.suo
*.user
codeshow.sdf
codeshow.opensdf
AppPackages/
/codeSHOW.Win81CS/obj
/codeSHOW.Win8JS/bin/x86/Debug
/packages
