<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="36805codefoster.codeSHOW" Version="1.0.0.4" Publisher="CN=603A18C8-7F37-48CF-B16C-FED79B9AEA66" />
  <Properties>
    <DisplayName>codeSHOW</DisplayName>
    <PublisherDisplayName>codefoster</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="codeSHOW" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="codeSHOW" ForegroundText="light" BackgroundColor="#5e83a2">
        <DefaultTile ShowName="noLogos" WideLogo="images\widelogo.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#6294ad" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
        <Extension Category="windows.fileSavePicker">
          <FileSavePicker>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
          </FileSavePicker>
        </Extension>
        <Extension Category="windows.search" />
        <Extension Category="windows.protocol">
          <Protocol Name="codefoster" />
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="musicLibrary" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>