.demo .section {
 }

.demo .section.demo .win-hub-section-content {
    /*border:dashed 2px rgba(0,0,0,0.1);*/
}

    .demo .section.demo .explanation {
        max-width:80vw;
    }

.demo .section.file {
}
    .demo .section.file textarea{
        width:700px;
        height:100%;
        font-family:consolas,'courier new';
    }

.demo .section.demo header {
    display: none;
}

.sections .win-hub-section-header {
    margin-top:0;
}

.demo .fragment {
	display: block;
	height: 100%;
	width: 100%;
}

	.demo .fragment section[role=main] {
		height: 100%;
	}

/*.phone .demo .page-section {
	margin: auto 24px;
}

.phone .demo .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .demo .back-button {
	display: none;
}



.sections .win-hub-surface {
    padding: 0;
    margin-left: 80px;
}*/