.csscolumns section[role=main] > div {
    margin-left: 120px;
}


.csscolumns .columns {
    column-count: 2;
    
    overflow-x: scroll;
    height: 600px;
}

.csscolumns .doublewide {
    column-span: 2;
    border: solid 1px lightgray;
}
