<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Local HTML</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.2.0/css/ui-light.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.2.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.2.0/js/ui.js"></script>

    <link href="localhtml.css" rel="stylesheet" />
    <script src="localhtml.js"></script>
</head>
<body>
    <div class="localhtml fragment">
        <header aria-label="Header content" role="banner">
            <button data-win-control="WinJS.UI.BackButton"></button>
            <h1 class="titlearea win-type-ellipsis">
                <span class="pagetitle">Welcome to localhtml</span>
            </h1>
        </header>
        <section aria-label="Main content" role="main">
            <ul></ul>
        </section>
    </div>
</body>
</html>
