.selectors #grid {
    height: 600px;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 160px 1fr;
}

.selectors #grid > div.section {
    border: 2px solid #404040;
    padding: 10px;
    margin: 3px;
}

.selectors #grid .label {
    position: relative;
    font-size: 80px;
    font-weight: bold;
    color: rgba(0,0,0,0.05);
    top: -8px;
    left: 14px;
    z-index: -100;
}

.selectors #grid #input {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    font-size: 32px;
}

.selectors .watermark {
    color: hsla(0,0%,0%,.6);
    font-style: italic;
}

.selectors #grid #html {
    overflow: scroll;
}

.selectors #grid #labelHTML,
.selectors #grid #html {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.selectors #grid #labelRender,
.selectors #grid #render {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}
