.listviews .circle html, body .circlepage {
    height: 100%;
    width: 100%;
}

.listviews .circle .circlepage {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto 1fr auto;
}

.listviews .circle .heading {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.listviews .circle .list {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    width: 100%;
    height: 100%;
}

.listviews .circle .controls {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

    .listviews .circle .controls button {
        margin: 10px;
    }

.listviews .circle .list .win-container {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    transition: transform 167ms linear, opacity 167ms linear;
}

.listviews .circle .list img {
    display: block;
}
