.flexbox #flexbox {
    width: 100%;
    height: 200px;
    border: solid 1px white;
    display: -ms-flexbox;
    -ms-flex-pack: justify;
    -ms-flex-align: stretch;
}

.flexbox .child {
    min-width: 80px;
    min-height: 80px;
}

.flexbox #child1 {
     background-color: red;
    -ms-flex: 1 0 auto;
}

.flexbox #child2 {
     background-color: green;
    -ms-flex: 2 0 auto;
}

.flexbox #child3 {
     background-color: blue;
}
