.flipview .item {
    width: 900px;
}
    .item h1 {
        position: relative;
        top: 80px;
        font-size: 80pt;
        font-weight: bold;
        opacity: 0.2;
        z-index: -1;
    }
.flipview .cols {
    column-fill: auto;
    column-gap: normal;
    column-rule: 0px solid gray;
    columns: 2 auto;
    height: auto;
    overflow: auto;
}