/* Demos Section */
.hubpage .hub .section.demos {
}

    .hubpage .hub .section.demos .itemslist {
        height: 100%;
        margin-left: -10px;
        margin-right: -10px;
        margin-top: -5px;
    }

    .hubpage .hub .section.demos .win-container {
        margin: 5px;
    }

    .hubpage .hub .section.demos .win-item {
        width:280px;
        height:125px;
        color: #34435a;
    }
        .hubpage .hub .section.demos .win-item .itemGrid {
            display:-ms-grid;
            -ms-grid-columns:6px 1fr;
            -ms-grid-rows:1fr;
            box-sizing:border-box;
            border: solid 1px #5e83a2;
            height:125px;
            border-radius:0px;
            background-color:whitesmoke;
        }

        .hubpage .hub .section.demos .win-item .itemHandle {
            background-color:#5e83a2;
        }
        .hubpage .hub .section.demos .win-item .itemContents {
            padding:4px 8px;
            -ms-grid-column:2;
            overflow:hidden;
        }

        .hubpage .hub .section.demos .win-item h3 {
            font-weight:bold;
        }

        .hubpage .hub .section.demos .win-item p.description {
            margin-top:2px;
        }
            
        .hubpage .hub .section.demos .win-item div.author {
            -ms-grid-column:2;
            -ms-grid-row:1;
            -ms-grid-column-align:end;
            -ms-grid-row-align:end;
            color:#34435a;
            width:120px;
            margin-bottom:4px;
            padding:3px;
            padding-right:7px;
            text-align:right;
            font-size:11px;
        }
    
    .hubpage .hub .section.demos .win-listview .win-itembox {
        background-color: transparent;
    }
