.heroimages section[role=main] > * {
    margin-left: 120px;
}

.heroimages .win-listview {
    height: 570px;
    width: 950px;
    /*border: solid 2px rgba(255, 255, 255, 0.13);*/
}

.heroimages .win-item .square { width: 180px; height: 180px; }
.heroimages .win-item .tall { width: 180px; height: 370px; }
.heroimages .win-item .wide { width: 370px; height: 180px; }
.heroimages .win-item .bigsquare { width: 370px; height: 370px; }

