.fileOpenPicker {
    /* Define a grid with rows for commands and items */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 75px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fileOpenPicker .commandbar {
        height: 100%;
        list-style-type: none;
        margin-left: 80px;
        margin-top: 13px;
        width: 100%;
    }

        .fileOpenPicker .commandbar li {
            display: inline;
            font-family: "Segoe UI Light";
            margin-right: 30px;
            opacity: 0.6;
        }

            .fileOpenPicker .commandbar li:hover {
                opacity: 1.0;
            }

    .fileOpenPicker .pickerlist {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
    }

        /* This selector is used to prevent ui-dark/light.css from overwriting changes
           to .win-surface. */
        .fileOpenPicker .pickerlist .win-horizontal.win-viewport .win-surface {
            margin-bottom: 20px;
            margin-left: 115px;
            margin-right: 115px;
        }

        .fileOpenPicker .pickerlist .item {
            height: 130px;
            width: 190px;
        }

            .fileOpenPicker .pickerlist .item .item-image {
                height: 130px;
                width: 190px;
            }
