.flexbox .simple #flexboxSimple {
    display: -ms-flexbox;
    width: 100%;
    border: 1px solid gray;
}

.flexbox .simple #flexboxSimple > div {
    min-width: 80px;
    min-height: 80px;
    border: 1px solid black;
    margin: 5px;
}
