
.phone .fileCreateRead .page-section {
	margin: auto 24px;
}

.phone .fileCreateRead .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .fileCreateRead .back-button {
	display: none;
}
