html {
    cursor: default;
}

body {
    background-image: linear-gradient(to bottom, #dfe7eb 0%, #f6f6f6 30%);
}

.win-appbar.win-ui-dark {
    background-color: #375369;
}

#colorbar {
    height: 10px;
    -ms-grid-column-span: 3;
    background-image: linear-gradient(to right, #020410 0px, #020410 10%, #436580 10%, #436580 35%, #6294ad 35% );
}

#contenthost {
    height: 100%;
    width: 100%;
}

.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 1fr 0px;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        /* Define a grid with columns for the back button and page title. */
        -ms-grid-columns: 120px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] .win-backbutton {
            margin-left: 39px;
            margin-top: 59px;
        }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-top: 37px;
        }

            .fragment header[role=banner] .titlearea .pagetitle {
                width: calc(100% - 20px);
            }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
    }

    /* everything in the main section is indented by default (unless it's a swiper) */
    .fragment section[role=main]:not(.swiper) > * { margin-left: 120px; }
    /*.fragment section[role=main].swiper { margin-left: 0px; }*/

    .explanation {
        font-size: larger;
        color: #375369;
        margin-bottom: 20px;
        font-style:italic;
    }

/*Swipers*/
.fragment section[role=main].swiper,
.swiper {
    width:100%;
    height:400px;
    display: -ms-flexbox;
    -ms-scroll-snap-x: mandatory snapInterval(0%, 80%);
    overflow-x: auto;
    margin-left: 120px;
}

.fragment section[role=main].swiper > *,
.swiper > * {
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    padding-right:80px;
}

/* the last swiper section has to be full width to be able to swipe to it */
.fragment section[role=main].swiper > *:last-child,
.swiper > *:last-child {
    width: 100%;
}

    .fragment section[role=main].swiper > * > h2,
    .swiper > * > h2 {
        margin-bottom: 20px;
    }


@media screen and (-ms-view-state: snapped) {
    .fragment section[role=main]:not(.swiper) > * { margin-left: 20px; }
    .fragment section[role=main].swiper, .swiper { margin-left: 20px; }

    .fragment header[role=banner] {
        -ms-grid-columns: auto 1fr;
        margin-left: 20px;
    }

        .fragment header[role=banner] .win-backbutton {
            margin: 0;
            margin-right: 10px;
            margin-top: 76px;
        }

            .fragment header[role=banner] .win-backbutton:disabled {
                display: none;
            }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-left: 0;
            margin-top: 68px;
        }
    .fragment section[role=main] > * {
        margin-left: 20px;
    }

}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .fragment header[role=banner] {
        -ms-grid-columns: 100px 1fr;
    }

        .fragment header[role=banner] .win-backbutton {
            margin-left: 29px;
        }
}
