.alaska .graticule {
    fill: none;
    stroke: lightgray;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.alaska .land {
    fill: #222;
}

.alaska .boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}
