.listviews .win-listview {
    border: 2px solid lightgray;
    background-color: white;
}

/*Simple*/
.listviews #simple .win-listview {
    height: 540px;
}

.listviews #simple .win-item img  {
    width: 239px;
    height: 170px;
}

.listviews #simple .win-item h3 {
    height: 50px;
}


/*Grouped*/
.listviews #grouped .win-listview {
    height: 540px;
}

.listviews #grouped .win-item img {
    width: 239px;
    height: 170px;
}

.listviews #grouped .win-item h3 {
    height: 50px;
}

/* Asymmetrical */
.listviews #asymmetric .win-listview {
    height: 540px;
    width: 900px;
}

.listviews #asymmetric .win-item .square { width: 160px; height: 160px; }
.listviews #asymmetric .win-item .tall { width: 160px; height: 330px; }
.listviews #asymmetric .win-item .wide { width: 330px; height: 160px; }
.listviews #asymmetric .win-item .bigsquare { width: 330px; height: 330px; }
