.listviews .declarative .explanation { width: 800px; }

.listviews .declarative .win-listview {
    border: 2px solid lightgray;
    background-color: white;
    height: 460px;
    width: 800px;
}

.listviews .declarative .win-item img  {
    width: 215px;
    height: 153px;
}

.listviews .declarative .win-item h3 {
    height: 50px;
}
