.custom_promise p {
    margin-left: 120px;
}

.custom_promise section[role=main] {
    margin-left: 120px;
}

.custom_promise section[role=main] > div {
    display: -ms-grid;
    -ms-grid-columns: 200px 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
}

    .custom_promise section[role=main] > div > div {
        width:600px;
        height:80px;
        margin-top:15px;
        margin-bottom:15px;
        font-size: x-large;
        padding: 0px;
    }
    
    .custom_promise section[role=main] > div > div:nth-child(1) {
    }
    
    .custom_promise section[role=main] > div > div:nth-child(2) {
    }
    
    .custom_promise section[role=main] > div > div:nth-child(3) {
        -ms-grid-row: 2;
    }
        
    .custom_promise section[role=main] > div > div:nth-child(4) {
        -ms-grid-row: 2;
    }
            
    .custom_promise section[role=main] > div > div:nth-child(5) {
        -ms-grid-row: 3;
    }

    .custom_promise section[role=main] > div > div:nth-child(6) {
        -ms-grid-row: 3;
    }