/* the .swiper functionality is in default.css too, but I would like to leave it here for clarity */
.swipeSections .swiper {
    width:100%;
    display: -ms-flexbox;
    -ms-scroll-snap-x: mandatory snapInterval(0%, 80%);
    overflow-x: scroll;
    overflow-y: hidden;
}

.swipeSections .swiper > * {
    box-sizing: border-box;
    width: 80%;
    padding-left: 120px;
    padding-right: 120px;
}

    .swipeSections .swiper > * > h2 {
        margin-bottom: 20px;
    }

/*Section One - Grid*/
.swipeSections #grid {
    display: -ms-grid;
    -ms-grid-rows: 2fr 6fr 2fr;
    -ms-grid-columns: 1fr 5fr 4fr;
    height: calc(100% - 60px);
    width: calc(100% - 130px);
}
    .swipeSections #grid > div { border: 1px solid; margin: 5px; }
    .swipeSections #grid > div:nth-of-type(1) { -ms-grid-column-span: 2; }
    .swipeSections #grid > div:nth-of-type(2) { -ms-grid-column: 3; -ms-grid-row-span: 2; }
    .swipeSections #grid > div:nth-of-type(3) { -ms-grid-row: 2; }
    .swipeSections #grid > div:nth-of-type(4) { -ms-grid-row: 2; -ms-grid-column: 2; }
    .swipeSections #grid > div:nth-of-type(5) { -ms-grid-row: 3; -ms-grid-column-span: 3; }

/*Wrapping Flexbox*/
.swipeSections #wrappingFlexbox {
    margin-top: 20px;
    display: -ms-flexbox;
    -ms-flex-wrap:wrap;
    width: 100%;
}

.swipeSections #wrappingFlexbox > div {
    min-width: 140px;
    min-height: 140px;
    background-color: gray;
    margin:5px;
    font-size: 60px;
    padding:15px;
}

    .swipeSections #wrappingFlexbox > div:nth-child(7) {
        background-color: red;
    }
