    .contributorscontrol .itemslist {
		height: 100%;
    }

        .contributorscontrol .itemslist .win-container {
            margin:5px;
        }
        
        .contributorscontrol .itemslist .win-itembox {
            background-color: transparent;
        }


    .contributorscontrol .win-item {
        -ms-grid-columns: auto auto;
        display: -ms-grid;
        height: 110px;
        width: 420px;
    }

        .contributorscontrol .win-item img {
            -ms-grid-column: 1;
            height: 110px;
            width: 110px;
        }

        .contributorscontrol .win-item .item-text {
            -ms-grid-column: 2;
            height: 105px;
            overflow: hidden;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 4px;
        }
