.homepage {
}
    .homepage .pagetitle img { height: 70px; }
    .homepage #zoom { height: 100%; }
    .homepage #demosLV { height: 95%; }
    .homepage #demosLV .win-surface { margin-left: 120px; }
    .homepage #demosLV .win-groupheader h2 { width: 200px; }

        .homepage #demosLV .win-item {
            width: 250px;
            height: 120px;
            box-sizing: border-box;
            background-color: #6294ad;
            padding: 10px;
            color: white;
        }
        .win-listview:not(.win-selectionstylefilled) .win-container.win-selected .win-selectionborder { border-color: #375369; } /*border around the selected item (not hovering)*/
        .win-listview:not(.win-selectionstylefilled) .win-container.win-selected:hover .win-selectionborder { border-color: #375369; } /*border around the selected item (hovering)*/
        .win-listview:not(.win-selectionstylefilled) .win-selectioncheckmarkbackground { border-top-color: #375369; border-right-color: #375369; } /*triangle behind the checkmark for selected items (not hovering)*/
        .win-listview:not(.win-selectionstylefilled) .win-container.win-selected:hover .win-selectioncheckmarkbackground { border-top-color: #375369; border-right-color: #375369; } /*triangle behind the checkmark for selected items (hovering)*/
        .homepage #demosLV .win-item h3 { font-size: 22px; }

.homepage #tagsLV { height: 100%; }

.homepage #tagsLV .win-item {
    width: 100px;
    height: 40px;
    background-color: darkorange;
    padding: 5px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] { margin-left: 20px; }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] { margin-left: 100px; }
}

