.homepage {
}
    .homepage .pagetitle img { height: 70px; }
    .homepage #zoom { height: 100%; }
    .homepage #demosLV { height: 100%; }
    .homepage #demosLV .win-surface { margin-left: 120px; }
.homepage #demosLV .win-groupheader h2 { width: 200px; }

    .homepage #demosLV .win-item {
        width: 250px;
        height: 100px;
        background-color: slategrey;
        padding: 12px;
        color: white;
    }

        .homepage #demosLV .win-item h3 { font-size: 22px; }

.homepage #tagsLV { height: 100%; }

.homepage #tagsLV .win-item {
    width: 100px;
    height: 40px;
    background-color: darkorange;
    padding: 5px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] { margin-left: 20px; }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] { margin-left: 100px; }
}
