/* on this page we want the tiles to scroll all the way to the left side of the screen */

.homepage section[role=main] > * { margin-left: 0px !important;} 
.homepage .pagetitle img { height: 70px; }
.homepage #zoom { height: 100%; }
.homepage #demosListView { height: 95%; }
.homepage #demosListView .win-surface { margin-left: 120px; }
.homepage #demosListView .win-groupheader h2 { width: 200px; }

    .homepage #demosListView .win-item {
        box-sizing: border-box;
        background-color: #6294ad;
        color: white;
    }
    .homepage #demosListView .itemTile {
         width:250px;
         height:125px;
         padding:4px 8px;
         box-sizing:border-box;
    }
    .homepage #demosListView .adTile { width: 250px; height: 125px; }
    .homepage #demosListView .itemTile h3 { line-height: 110%; }
    .homepage #demosListView .itemTile p { margin-top: 5px; }

    .win-listview:not(.win-selectionstylefilled) .win-container.win-selected .win-selectionborder { border-color: #ef6541; } /*border around the selected item (not hovering)*/
    .win-listview:not(.win-selectionstylefilled) .win-container.win-selected:hover .win-selectionborder { border-color: #ef6541; } /*border around the selected item (hovering)*/
    .win-listview:not(.win-selectionstylefilled) .win-selectioncheckmarkbackground { border-top-color: #ef6541; border-right-color: #ef6541; } /*triangle behind the checkmark for selected items (not hovering)*/
    .win-listview:not(.win-selectionstylefilled) .win-container.win-selected:hover .win-selectioncheckmarkbackground { border-top-color: #ef6541; border-right-color: #ef6541; } /*triangle behind the checkmark for selected items (hovering)*/
    .homepage #demosListView .win-item h3 { font-size: 22px; }

.homepage #tagsLV { height: 100%; }

.homepage #tagsLV .win-item {
    width: 100px;
    height: 40px;
    background-color: darkorange;
    padding: 5px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage .pagetitle img { height: 48px; }
    .homepage section[role=main] { margin-left: 20px; }
    .homepage section[role=main] > * { margin-left:0px; }
    .homepage #demosListView .win-surface { margin-left: 20px; }
    .homepage #demosListView .win-container { width: 180px; background-color:transparent;}
    .homepage #demosListView .win-item {
        width: 240px;
        height: 40px;
        box-sizing: border-box;
        background-color: #6294ad;
        padding: 5px;
        color: white;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] { margin-left: 100px; }
}