.demo .padleft {
    padding-left:120px;
}

.demo .demoview {
    width: auto;
    -ms-scroll-snap-x: mandatory snapInterval(0%, 80%);
    overflow-x: scroll;
    overflow-y: hidden;
    height:100%;
}

.demo .codeview {
    
}

.demo .demosection {
    box-sizing: border-box;
    width: 80%;
    padding-right: 80px;
    flex: none;
    overflow: hidden;
}

.demo .demosection:last-child {
    width: 100%;
}

    .demo .fragment {
        display: block; /* don't apply the grid that most page fragments have */
    }

