.dragndrop #dragTarget {
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    background-color: #000000; 
    border: 1px solid #666666;
	color: #ffffff; 
    padding: 10px; 
    position: absolute;
	cursor: move;
}
