.snappoints #list {
    height:100%;
    
}

.demoview.snappoints {
    padding-left: 0px; /* override to allow list to go to left edge of screen */
}

.snappoints #list .win-viewport {
    -ms-scroll-snap-x: mandatory snapInterval(0px,200px);
    padding-left: 120px; /* pad the viewport instead of the demoview*/
}

.demoview.snappoints .explanation {
    padding-left: 120px;
}

    .snappoints #list .win-item {
        width: 150px;
        height: 150px;
        padding: 20px;
        color: black;
        background-color: lightgray;
    }

    .snappoints #list .win-item span[data-win-bind="innerText:number"] {
        font-size: 32pt;
    }