.ads section[role=main] {
    margin-left: 120px;
}

.ads #list {
    display:-ms-flexbox;
    border: 2px solid lightgray;
    overflow-x: scroll;
    overflow-y: hidden;
}

.ads #list > div {
    margin: 10px;
}