.flexboxwrap #flexbox {
    width: 100%;
    display: -ms-flexbox;
    -ms-flex-wrap:wrap;
}

.flexboxwrap #flexbox > div {
    min-width: 200px;
    min-height: 200px;
    background-color: gray;
    margin:5px;
    font-size: 60px;
    padding:15px;
}

    .flexboxwrap #flexbox > div:nth-child(7) {
        background-color: red;
    }
