.templateItems section[role=main] > #alphabet {
    display: -ms-flexbox;
    border: 1px solid;
    -ms-flex-wrap: wrap;
}

.templateItems section[role=main] > #alphabet > div {
    width:110px;
    height:110px;
    background: gray;
    margin:5px;
    padding: 10px;
}

.templateItems #reset { color: orange; }
