.promises section[role=main] {
    margin-left: 120px;
}
.promises #concept h3 { margin-top: 20px; }
.promises progress {
    width: 400px;
    height: 20px;
    display: block;
    margin-bottom: 10px;
}
.promises .section > div > div {
    margin-top: 20px;
}