.bingmaps section[role=main] {
}

.win-type-interactive { cursor: pointer; }

@media screen and (-ms-view-state: snapped) {
    .bingmaps section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .bingmaps section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}